{% extends 'base.html' %} 

{% block header %} 
{% endblock %} 

{% block content %}
<div id="vueApp">

    <!-- ANFANG -- Modal -->
    <ModalSlot :showclosebutton="show_close_button">
        <template v-slot:header>
        <h4 class="modal-title" id="staticBackdropLabelSlot">[[ movie ]]</h4>
        <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-if="show_close_button"></button-->
        </template>
    
        <template v-slot:body>
        <div class="container-fluid" v-if="!result_available">
        <div class="row">
            <div class="col-md-4">Section:</div>
            <div class="col-md-4">[[ section ]]</div>
        </div>
        <div class="row">
            <div class="col-md-4">Duration Raw:</div>
            <div class="col-md-4">[[ lmovie_info.duration ]] min</div>
        </div>
        <div class="row">
            <div class="col-md-4">Duration Cut:</div>
            <div class="col-md-4">[[ duration_cut ]] min</div>
        </div>
        <div class="row">
            <div class="col-md-4">In:</div>
            <div class="col-md-4">[[ t0 ]]</div>
        </div>
        <div class="row">
            <div class="col-md-4">Out:</div>
            <div class="col-md-4">[[ t1 ]]</div>
        </div>
        <div class="row">
            <div class="col-md-4">Recreate apsc:</div>
            <div class="col-md-4">[[ !lmovie_cut_info.apsc ]]</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">ETA:</div>
            <div class="col-md-4">[[ lmovie_cut_info.eta ]] sec, [[ eta_counter ]] sec</div>
        </div>
        </div>
        <div class="container-fluid" v-else>
        <div class="row">
            <pre class="col-md-12">[[ result ]]</pre>
        </div>                                        
        </div>                            
        </template>

        <template v-slot:footer>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-if="result_available">Close</button>
            <br v-else>
        </template>
    </ModalSlot>
    <!--- ENDE -->

    <!-- section und movie selection START -->
    <div class="row g-2 mt-1 justify-content-lg-center">
        <div class="col form-floating col-5">
            <select id="vueSectionID" v-model='section' class="form-select" @change="update_section">
                    <option v-for="sec in sections" v-bind:value="sec">
                        [[ sec ]]
                    </option>            
            </select>
            <label for="vueSectionID" >[[ totalsections ]] Sections</label>
        </div>

        <div class="col form-floating col-6">
            <select id="vueMovieID" v-model='movie' class="form-select" >
                <option v-for="movie in movies" v-bind:value="movie">
                    [[ movie ]]
                </option>                               
            </select>
            <label for="vueMovieID" >[[ totalmovies ]] recently added Movies</label>
        </div> 

        <div class="col badge bg-light col-auto me-1 my-auto"><button class="btn btn-outline-primary" @click="force_update_section()">↺</button></div>
           
    </div>
    <!-- section und movie selection ENDE -->

    <!-- cut Movie Action Bar START -->
    <div class="row g-2 row-cols-7 justify-content-lg-center mt-1">

        <div class="col badge bg-dark me-1"><button class="btn btn-dark btn-sm" disabled>[[ lmovie_info.duration ]] min</button></div>

        <div class="col badge bg-primary me-1" v-if="t0_valid"><button class="btn btn-primary btn-sm" @click="hpos({type:'t0'})">[[ t0 ]] In </button></div>
        <div class="col badge bg-primary me-1" v-else><button class="btn btn-primary btn-sm" @click="hpos({type:'t0'})">--:--:-- In </button></div>

        <div class="col badge bg-primary me-1" v-if="t1_valid"><button class="btn btn-primary btn-sm" @click="hpos({type:'t1'})">[[ t1 ]] Out</button></div>
        <div class="col badge bg-primary me-1" v-else><button class="btn btn-primary btn-sm" @click="hpos({type:'t1'})">--:--:-- Out</button></div>

        <div class="col badge bg-primary me-1" v-if="cut_ok"><button class="btn btn-primary btn-sm" @click="toggle_inplace">inplace [[ inplace ? '✓' : '✗' ]]</button></div>
        <div class="col badge bg-secondary me-1" v-else><button class="btn btn-outline-secondary text-light btn-sm" disabled>inplace [[ inplace ? '✓' : '✗' ]]</button></div>

        <div class="col badge bg-danger" v-if="cut_ok"><button class="btn btn-danger btn-sm" @click="docut">Cut</button></div>
        <div class="col badge bg-secondary" v-else><button class="btn btn-outline-secondary text-light btn-sm" disabled>Cut</button></div>

        <div class="col badge bg-light col-auto me-1"><button class="btn btn-outline-primary btn-sm" @click="lpos = 0">S</button></div>
        <div class="col badge bg-light col-1 me-1"><button class="btn btn-outline-secondary btn-sm" @click="test" notdisabled>[[ Math.trunc(lpos / 60) ]] min</button></div>
        <div class="col badge bg-light col-auto me-1"><button class="btn btn-outline-primary btn-sm" @click="lpos = pos_from_end(0)">E</button></div>

    </div>
    <!-- cut Movie Action Bar ENDE -->

    <!-- cut Movie Timeline START -->
    <div class="row g-2 row-cols-9 p-0 pt-1 pb-1 m-0 mt-1 mb-1 justify-content-lg-left">   
            <button :class="b.class" v-for="b in bleft"  @click="hpos(b)">[[ b.name ]]</button>
            <input type="text" class="pos form-control-sm mt-0 col-2" placeholder="00:00:00" :value="pos" disabled>
            <button :class="b.class" v-for="b in bright" @click="hpos(b)">[[ b.name ]]</button>     
    </div>
    <!-- cut Movie Timeline ENDE -->

    <!-- Frame START -->    
    <div class="row g-2 mt-1">
        <img :src="frame_name" class="rounded mx-auto d-block mt-0" alt="... loading ...">
    </div>
    <!-- Frame ENDE -->    

</div>
{% endblock %}
{% block script %}
<script>
    Vue.prototype.$host = "http://{{ host }}"
</script>
<script src="{{ url_for('static', filename='js/components/Modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/App.js') }}"></script>
{% endblock %}